<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel ="test" thread-count="5">


	<test name="search Test_chrome">
	<parameter name="browser" value="chrome"></parameter>
<parameter name="url" value="http://www.amazon.in"></parameter>
	<classes>
			<class name="temp.product.amazon.testcase.TC_HealthCheck" />
	</classes>	
		
			<test name="search Test_firefox">
	<parameter name="browser" value="firefox"></parameter>
<parameter name="url" value="http://www.amazon.in"></parameter>
	<classes>
			<class name="temp.product.amazon.testcase.TC_HealthCheck" />
		</classes>
		
		<test name="search Test_IE">
	<parameter name="browser" value="IE"></parameter>
<parameter name="url" value="http://www.amazon.in"></parameter>
	<classes>
			<class name="temp.product.amazon.testcase.TC_HealthCheck" />
		</classes>
			</test>
		
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
